


.hexagon {
    height: 150px; 
    aspect-ratio: 1/cos(30deg);
    clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
    border: none;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.co {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pattern {
    width: max-content;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    margin: 0 auto;

}

#col1, #col2 {
    margin-top: 80px;
}

#col1 {
    margin-right: -35px;
}

#col2 {
    margin-left: -35px;
}

.hr{
    margin-top: -30px;
}

h1{
    padding-top: 15px;
    padding-bottom: 35px;
}

h5{
    padding-top: 15px;
    padding-bottom: 15px;
}



.dot {
    height: 35px;
    width: 35px;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10%;
  }