<!DOCTYPE html>

<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Connections </title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
    </style>
  </head>

  <body>

    <nav>
      <a href="/">Home</a>
      <a href="/profile">Profile</a>
      <a href="/logout">Logout</a>
    </nav>

    <div class="main">
      <form method='POST' action="/connections">

        <p class = "text-center"> Create four groups of four! </p>
        <p class = "text-center"> {{ error }} </p>
        <p class = "text-center"> {{ msg }} </p>

        {% for w in board %}
          <input type = "submit" value = "{{ w }}" name = "choice">
        {% endfor %}

        <h3>Selected:</h3>
        {% for s in selected %}
          <span>{{ s }}</span>
        {% endfor %}

        <p> Mistakes Remaining: {{ mistakes }} </p>

        <input type="submit" value="Shuffle" name="shuffle">
        <input type="submit" value="Deselect All" name="deselect">
        <input type="submit" value="Submit" name="sub">

      </form>

      <h3>corretc groups check</h3>
      {% for g in groups %}
        <p><b>{{ g[0] }}</b>: {{ g[1] }}</p>
      {% endfor %}

    </div>

  </body>

  <footer>
  </footer>

</html>
