<!DOCTYPE html>

<html>

  <head>
    <title> Home </title>
  </head>

  <body style="background-image: url({{ bg_img_path }});">

    <nav>
      <a href="/">Home</a>
      <a href="/profile">Profile</a>
      <a href="/logout">Logout</a>
    </nav>

    <h1>
      Homepage
    </h1>

    <p> Choose a game below: </p>

    <ul>
      <li><a href="/wordle">Wordle</a></li>
      <li><a href="/spellingBee">Spelling Bee</a></li>
      <li><a href="/connections">Connections</a></li>
      <li><a href="/ingredients">Ingredient Guesser</a></li>
    </ul>

  </body>

  <footer>
  </footer>

</html>
