<!DOCTYPE html>

<html>

  <head>
    <title> Register </title>
  </head>

  <body>

    <nav>
      <a href="/">Home</a>
      <a href="/profile">Profile</a>
      <a href="/logout">Logout</a>
    </nav>

    <div class="main">
      <form method='POST' action="/spelling">
        <h1> Play Spelling Bee!!!  </h1>
        <p>
          Be careful! You can only submit three scores per day!
        </p>
        <p>
          {{ error|safe }}
        </p>
        {% for i in range(7) %}
          <input type="submit" value= '{{ letters[i] }}'  id= '{{ i }}' name= '{{ i }}'>
        {% endfor %}
        
        <br>
        <h2> {{ w }}</h2>
        <input type="submit" value="Submit" id= "sub" name="sub">

        <p>
          {% for wrd in words %}
            {{ wrd }}, 
          {% endfor %}
        </p>

        <p>
          Score: {{ score }}
        </p>
      </form>
    </div>

  </body>

  <footer>
  </footer>

</html>
